@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Kumbh Sans", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    align-items: center;
    justify-content: center;
}


#mainDiv{
    height: 600px;
    width: 400px;
    display: flex;
    background-color: white;
    flex-direction: column;
}

#imgDiv{
    width: 400px;
    height: 200px;
    background-image: url(./images/bg-pattern-card.svg);
}

img{
    display: flex;
    justify-content: center;
    align-items: center;
}