body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    width: 100px;
    height: 100px;
    background-color: green;
    animation-name: change;
    animation-duration: 3s;
}

@keyframes change{
    0%{
        width: 100px;
        height: 100px;
        background-color: green;
    }
    50%{
        width: 150px;
        height: 150px;
        background-color: yellow;
    }
    100%{
        width: 200px;
        height: 200px;
        background-color: red;
    }


}