div{
    width: 75%;
    display: flex;
    flex-direction: column;
}


@media (max-width: 900px) {
    h1{
        color: blue;
    }
}
@media (max-width: 600) {
    p{
        color: rgb(175, 192, 25);
    }
}
@media (max-width: 400px) {
    img{
        transform: rotate(180deg);
    }
}