@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

#p1{
    font-family: "Sigmar", sans-serif;
}
#p2{
    font-family: "Sigmar", sans-serif;
}
#p3{
    font-family: "Sigmar", sans-serif;
}



.button{
    font-family: Arial, Helvetica, sans-serif;
}